@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&display=swap');

@keyframes fadeIn 
{
    0% {opacity: 0%;}
    100% {opacity: 100%;}
}

@keyframes colorfulText
{
    0%{ color: aliceblue;}
    100%{ color: rgba(77, 43, 247, 0.483);}
}

body
{
    background-color: #1b1a2b;
    font-family: "Atkinson Hyperlegible Mono";
}

h1
{
    color: aliceblue;
}

#name
{
    animation: colorfulText 2s infinite alternate;
}

#profile-name
{
    animation: fadeIn 3s;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: inline-flex;
    flex-direction: column; /* store vertically */
    align-items: center;
    gap: 16px;
    text-align: center;
    margin: 0 auto;
}

