#profile-name {animation: fadeIn 2s;}

@keyframes fadeIn 
{
    0% {opacity: 0%;}
    100% {opacity: 100%;}
}

body
{
    background-color: black;
}

h1
{
    color: aliceblue;
}

#profile-name
{
    animation: fadeIn 2s;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: inline-flex;
    flex-direction: column; /* store vertically */
    align-items: center;
    gap: 16px;
    text-align: center;
    margin: 0 auto;
}

